* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: rgb(232, 232, 232);
}
.border {
  border: 2px solid transparent;
}
.border:hover {
  border: 2px solid white;
  border-radius: 5px;
}
.navbar {
  height: 60px;
  display: flex;
  color: white;
  align-items: center;
  background-color: #0f1111;
  justify-content: space-evenly;
}
.nav-logo {
  background-image: url(amazon_logo.png);
  background-size: cover;
  width: 100px;
  height: 50px;
  padding: 2px;
}
.nav-address {
  display: inline;
  padding: 9px;
}
.loc-first {
  font-size: 0.6rem;
  margin-left: 15px;
  color: cccccc;
}
.loc-second {
  font-size: 1.01rem;
  margin-left: 4px;
}
.nav-location {
  display: flex;
  .fa-location-dot {
    font-size: 1rem;
  }
}
.search-select {
  background-color: orange;
  width: 40px;
  height: 40px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.nav-search {
  width: 610px;
  height: 40px;
  border: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding-left: 13px;
  border: none;
}
.fa-magnifying-glass {
  background-color: orange;
  height: 32px;
  width: 40px;
  color: black;
  text-align: center;
  padding-top: 8px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.nav-searchbar {
  display: flex;
  margin-left: 20px;
}
.flags {
  background-image: url(flag-Stars-and-Stripes-May-1-1795.webp);
  background-size: cover;
  height: 21.6px;
  width: 21.2px;
}
.nav-language {
  display: flex;
  padding: 13px;

  h5 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 4px;
    margin-left: 3px;
  }
}
.lang {
  width: 20px;
  border: none;
  color: aliceblue;
  background-color: #0f1111;
  border: 0.1px solid white;
  margin-left: 4px;
  border-radius: 3px;
}
.nav-sign-in {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  span {
    font-size: 0.8rem;
    color: cccccc;
  }
}
.nav-order {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;

  span {
    font-size: 0.8rem;
    color: cccccc;
  }
  p {
    font-weight: 700px;
  }
}
.nav-card {
  display: flex;
  padding: 10px;
  P {
    margin-top: 8px;
    font-weight: 700px;
  }
}
.fa-solid {
  font-size: 1.7rem;
}
.fa-brands {
  font-size: 1.5rem;
}
.amazon-pay {
  padding: 12px;
}
.nav-panal {
  background-color: rgb(75, 75, 93);
  color: white;
  height: 45px;
  display: flex;
  justify-content: space-evenly;
}
.panal-ALL {
  display: flex;
  p {
    font-family: Arial, Helvetica, sans-serif;
  }
}
.fa-bars {
  font-size: 1.3rem;
}
.panal-content {
  padding: 6px;
  display: flex;
}

.fa-caret-down {
  font-size: 1.1rem;
  margin-left: 4px;
  color: rgb(215, 214, 214);
}
.hero-image {
  background-image: url(hero_image.jpg);
  background-size: cover;
  width: 100%;
  height: 70%;
  display: grid;
}
.grid-contener {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-columns: repeat(100px, 12);
  gap: 20px;
  padding: 10px;
  margin: 10px;
  margin-top: 200px;
}
.grid-iteam {
  font-size: 1rem;
  background-color: white;
  border: transparent;
  border-radius: 20px;
}
.one {
  grid-row: 1 / 4;
  grid-column: 1 / 4;
}
.two {
  grid-row: 1 / 4;
  grid-column: 4 / 7;
}
.three {
  grid-row: 1 / 4;
  grid-column: 7 / 10;
}
.four {
  grid-row: 1 / 2;
  grid-column: 10 / 13;
  justify-items: center;
  samp {
    width: 80%;
    height: 30%;
    background-color: orange;
    display: flex;
    justify-content: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    margin-top: 10px;
    padding-top: 10px;
  }
}
.five {
  grid-row: 2 / 4;
  grid-column: 10 / 13;
}
.sixth {
  grid-row: 4 / 7;
  grid-column: 1 / 4;
}

.seventh {
  grid-row: 4 / 7;
  grid-column: 4 / 7;
}

.eight {
  grid-row: 4 / 7;
  grid-column: 7 / 10;
}

.nine {
  grid-row: 4 / 7;
  grid-column: 10 / 13;
}
.grid-contener p {
  width: 80%;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
/* box 4 grid contener */
.man-cloth {
  display: grid;
  position: relative;
  grid-template-columns: 150px 150px;
  grid-template-rows: 140px 140px;
  justify-content: center;
  margin-top: 20px;
  height: auto;
  gap: 0%;
}
.img-contain {
  width: 80%;
  height: 100%;
}
.adversment {
  width: 100%;
  height: 80%;
}

/*sugest content 1 iteam list*/
.sugest_content1 {
  margin-top: 31%;
  display: inline-flex;
  background-color: white;
  padding: 10px;
  gap: 20px;
}
.sugest_content1_items {
  width: 300px;
  height: 200px;
  border: 1px solid black;
}
